<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/back/Css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/back/Css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/static/back/Css/style.css"/>
    <script type="text/javascript" src="/static/back/Js/jquery.js"></script>
    <script type="text/javascript" src="/static/back/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="/static/back/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/back/Js/ckform.js"></script>
    <script type="text/javascript" src="/static/back/Js/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>


<div class="alert alert-danger">
    总收益：<em id="sum"></em>
</div>

<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>序号</th>
        <th>收益订单</th>
        <th>来自用户</th>
        <th>单笔利润</th>
        <th>日期</th>
    </tr>
    </thead>
    {%for order in orders%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{order.oid}}</td>
        <td>{{order.uid}}</td>
        <td class="profit">{{order.orgintotal}}</td>
        <td>{{order.time_end}}</td>
    </tr>
    {%endfor%}
</table>

</body>
</html>
<script>

    $(function () {
        var total = 0
        jQuery('.profit').each(function () {
            total += parseFloat($(this).html())
        })
        $('#sum').html(total)
    });

</script>