<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/back/Css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/back/Css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/static/back/Css/style.css"/>
    <script type="text/javascript" src="/static/back/Js/jquery.js"></script>
    <script type="text/javascript" src="/static/back/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="/static/back/Js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/back/Js/ckform.js"></script>
    <script type="text/javascript" src="/static/back/Js/common.js"></script>


    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="{:U('User/edit')}" method="post" class="definewidth m20">
    <input type="hidden" name="id" value="{$user.id}"/>
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">订单编号</td>
            <td>{{order.oid}}</td>
        </tr>
        <tr>
            <td class="tableleft">账户</td>
            <td>{{order.uid}}</td>
        </tr>
        <tr>
            <td class="tableleft">真实姓名</td>
            <td>{{order.uid.user_firstname}}{{order.uid.user_secondname}}</td>
        </tr>
        <tr>
            <td class="tableleft">订单状态</td>
            <td>{{order.state}}</td>
        </tr>
        <tr>
            <td class="tableleft">下单日期</td>
            <td>{{order.time_begin}}</td>
        </tr>
        <tr>
            <td class="tableleft">结单日期</td>
            <td>
                {%if order.time_end%}
                {{order.time_end}}
                {%else%}
                订单未完结
                {%endif%}
            </td>
        </tr>
        <tr>
            <td class="tableleft">付款方式</td>
            <td>
                {{order.pay}}
            </td>
        </tr>
        <tr>
            <td class="tableleft">订单是否被取消</td>
            <td>
                {%if order.isdelete%}
                是
                {%else%}
                否
                {%endif%}
            </td>
        </tr>
        <tr>
            <td class="tableleft">订单商品</td>
            <td>
                <table style="width: 100%;margin: 3px;">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>商品原价</th>
                        <th>购买数量</th>
                        <th>合计</th>
                    </tr>
                    </thead>
                    {%for good in goods%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{good.gid.gid}}</td>
                        <td>{{good.gid.good_name}}</td>
                        <td class="origin">{{good.gid.price_orgin}}</td>
                        <td class="price">{{good.gid.price_sell}}</td>
                        <td class="count">{{good.count}}</td>
                        <td class="sum"></td>
                    </tr>
                    {%endfor%}
                </table>
            </td>
        </tr>
        <tr>
            <td class="tableleft">总价</td>
            <td id="otatal">{{order.ototal}}</td>
        </tr>
        <tr>
            <td class="tableleft">利润</td>
            <td>{{order.orgintotal}}</td>
        </tr>
        <tr>
            <td class="tableleft">收货地址</td>
            <td>{{order.address}}</td>
        </tr>
        <tr>
            <td class="tableleft">订单备注信息</td>
            <td>{{order.notes}}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;
                <button type="button" class="btn btn-success" name="backid" id="checkbill">校验订单</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
<script>
    $(function () {
        $('#checkbill').click(function () {
//            window.location.href = "javascript:history.back();";
            // 检验订单合计是否正确, 总价是数据库里面存储的，但是防止用户恶意操作需要后台再次验证下，商品的价格*数量（这些东西他们改不了）之和
            var total = 0
            jQuery('.sum').each(function () {
                total += parseFloat($(this).text())
            })
            if(total == parseFloat($('#otatal').text())){
                alert(' ***  订单正常，总价：'+total+'  ***' )
            }else {
                alert('订单的数据有异常，请核对！')
            }


        });
        $('.sum').change(function () {
            var sum = parseFloat($(this).prev().prev().text()) * parseInt($(this).prev().text())
            $(this).text(sum)
        })
        $('.sum').change()
    });
</script>